/* Estilização do Cabeçalho */

/* Cabeçalho Desktop */
#start {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.main-title {
  margin-top: 70px;
  font-family: url('IBM Plex Sans, Bold');
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: rgb(77, 77, 77);
}


.linha-titulo {
  margin-top: 15px;
  width: 90%;
  height: 1px;
  background-color: rgb(112, 112, 112);
}

#menu-topo {
  margin-top: 5px;
  transition-duration: 0.500ms;
}

#collapsebtn {
  justify-content: center;
  flex-wrap: nowrap;
}

.menus:hover {
  color: rgb(180, 125, 51);
}

.menus {
  font-family: url('Lato-Black.eot');
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(77, 77, 77);
  padding-left: 25px;
}

@media only screen and (max-width: 767px) {
  .menus {
    background-color: white;
  }
}

#submenu-livros {
  padding: 22px;
  box-shadow: 0px 0px 10px 0px rgb(175 175 175);
  border-radius: 0px;
  margin-left: 50px;
  background-color: white;
}

.submenus {
  font-family: url('IBMPlexSans-Light.eot');
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #4D4D4D;
  margin-bottom: 5px;
  text-decoration: none;
}

.submenus:hover {
  color: rgb(180, 125, 51);
}

#cabecalho {
  border: 0px solid blue;
  z-index: 100 !important;
}

.cabecalho-indicadores {
  width: 25%;
  height: auto;
  justify-content: left;
  bottom: 90px;
  border: 0px solid red;
  z-index: 101;
}

.carousel-indicators li.active {
  background-image: url('../imagens/desktop/bolabanner2.svg');
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../imagens/desktop/bolabanner1.svg');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.carousel-inner {
  width: 100%;
  height: auto;
  z-index: 100 !important;
}

.carousel-item .img-fluid {
  width: 100%;
  height: auto;
  z-index: 100 !important;
}

@media only screen and (max-width: 380px) {
  .cabecalho-legendas {
    top: 22.5%;
  }
}

@media only screen and (max-width: 900px) {
  .cabecalho-legendas {
    top: 25%;
  }
}

@media only screen and (max-width: 965px) {
  .cabecalho-legendas {
    top: 30%;
  }
}


@media only screen and (max-width: 380px) {
  .cabecalho-indicadores {
    bottom: 35px;
  }
}

@media only screen and (max-width: 1000px) {
  .cabecalho-indicadores {
    bottom: 40px;
  }
}

@media only screen and (max-width: 1170px) {
  .cabecalho-indicadores {
    bottom: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .main-title {
    margin-top: 52px;
  }
}

.cabecalho-legendas {
  position: absolute;
  top: 38%;
  left: 15%;
  width: 37.5%;
  padding: 0px !important;
  text-align: left;
  border: 0px solid black;
}

.banner-novidade {
  font-family: url('Lato-Bold.eot');
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(180, 125, 51);
  margin-bottom: 25px;
  font-weight: 500;
}

.banner-titulo {
  font-family: url('IBMPlexSans-Light.eot');
  font-weight: 300;
  font-size: 40px;
  line-height: 43px;
  text-transform: uppercase;
  color: rgb(77, 77, 77);
  margin-bottom: 15px;
}

.banner-texto {
  font-family: url('IBMPlexSans-Light.eot');
  color: rgb(77, 77, 77);
  font-weight: 300;
  font-size: 13px;
}

@media only screen and (max-width: 868px) {
  .main-title {
    font-size: 1.75rem;
    line-height: 30px;
  }
}

@media only screen and (max-width: 1170px) {
  .main-title {
    font-size: 2rem;
    line-height: 35px;
  }
}

@media only screen and (max-width: 868px) {
  .banner-texto {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 1170px) {
  .banner-texto {
    font-size: 0.75rem;
  }
}

.botao-sabermais-banner {
  margin-top: 40px;
  width: 101px;
  height: 26px;
  border-style: none;
  background-image: url("../imagens-desktop/sabermais1.svg");
  background-size: cover;
}

.botao-sabermais-banner:hover {
  background-image: url('../imagens-desktop/sabermais2.svg');
  background-size: cover;
}

.carousel-item .img-fluid {
  width: 100%;
  height: auto;
  max-height: 730px;
  z-index: 100 !important;
}

.banner-novidade-vazio {
  font-family: url('Lato-Bold.eot');
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(180, 125, 51);
  margin-bottom: 25px;
  font-weight: 500;
}

/* Cabeçalho Mobile */

.cabecalho-indicadores-mobile {
  /* Para retirar se não colocar as imgs em substituição */
  width: auto;
  height: auto;
  justify-content: left;
  left: -8%;
  bottom: 50px;
  border: 0px solid green;
  z-index: 101;
}

.carousel-indicators li,
.carousel-indicators li.active {
  /* Para retirar se não colocar as imgs em substituição */
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../imagens-desktop/bolabanner1.svg');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.carousel-indicators li.active {
  background-image: url('../imagens-desktop/bolabanner2.svg');
  /* Para retirar se não colocar as imgs em substituição */
}


.cabecalho-legendas-mobile {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 100%;
  padding: 0px !important;
  text-align: left;
}

/* Estilização do Rodapé */

.footer-title {
  font-family: url('IBM Plex Sans, Bold');
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: rgb(77, 77, 77);
}

.footer-line {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  stroke: 1px;
  height: 1px;
  background-color: rgb(112, 112, 112);
}

.field-title {
  margin-top: 20px;
  font-family: url('IBMPlexSans-Medium.eot');
  font-weight: bold;
  font-size: 15px;
  color: rgb(177, 126, 59);
  text-transform: uppercase;
}

.field-text {
  padding-top: 6px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  font-family: url('IBM Plex Sans, Light');
  color: rgb(77, 77, 77);
}

.social-title {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-family: url('IBM Plex Sans, Bold');
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: rgb(77, 77, 77);
}

.social-icons {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 100%;
}

.livro-reclamacoes {
  padding: 25px;
}

.cookies {
  margin-top: 43px;
  text-align: center;
  text-align: center;
  font-size: 15px;
  font-family: url('IBM Plex Sans, Light');
  color: rgb(77, 77, 77);
}

.copyright {
  margin-bottom: 60px;
  text-align: center;
  font-size: 15px;
  font-family: url('IBM Plex Sans, Light');
  color: rgb(77, 77, 77);
}

/* Estilização Contactos e Imprensa*/


/* Caixa Topo Comum ao site todo */

.noticias-linha {
  stroke: 1px;
  height: 1px;
  background-color: #A97339;
  margin-top: 12px;
  margin-bottom: 12px;
}

.imprensa-data {
  font-family: url('IBMPlexSans-Light.eot');
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #4D4D4D;
  margin-bottom: 40px;
}

#caixa-topo {
  position: relative;
  min-height: 130px;
  margin-top: -45px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 10px 0px rgb(150 150 150);
  -moz-box-shadow: 1px 1px 10px 0px rgb(150, 150, 150);
  box-shadow: 1px 1px 10px 0px rgb(150 150 150);
  border: 0px solid black;
  z-index: 200 !important;
}


@media only screen and (max-width: 767px) {
  #caixa-topo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
  }
}

.titulo-topo {
  color: rgb(180, 125, 51);
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: url('Lato-Black.eot');
  font-weight: 650;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 60px;
}

.noticias-titulo {
  margin-bottom: 12px;
  margin-top: 65px;
  font-family: url('IBMPlexSans-Light.eot');
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  color: rgb(77, 77, 77);
}

.destaques-titulo {
  margin-bottom: 14px;
  margin-left: 60px;
  font-family: url('IBMPlexSans-Light.eot');
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  color: rgb(77, 77, 77);
}

#area-texto {
  margin-top: 60px;
  font-family: url('IBMPlexSans-Light.eot');
  font-size: 13px;
  color: rgb(77, 77, 77);
  padding: 55px;
}

#imagem-autor {
  margin-top: 60px;
  width: 350px;
  height: 400px;
}

.btn-autor {
  margin-top: 75px;
}

#menu-rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-rodape-itens {
  margin: 27px 0px;
}

#seta-esquerda {
  background-image: url('../imagens-desktop/setaesquerda1.svg');
  margin-right: 45px;
}

.setas-paginacao {
  width: 17px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.paginacao:hover {
  color: #B17E3B;
}

.paginacao {
  font-family: url('IBMPlexSans-Light.eot');
  font-size: 20px;
  font-weight: bold;
  color: rgb(77, 77, 77);
  margin: 0px 12px;
  text-decoration: none;
}

#seta-direita {
  background-image: url('../imagens-desktop/setadireita1.svg');
  margin-left: 45px;
}

/* Estilização dos Livros */

#voltar-atras {
  width: 132px;
  height: 30px;
  border-style: none;
  background-image: url("../imagens-desktop/voltar1.svg");
  background-size: cover;
}

#voltar-atras:hover {
  width: 132px;
  height: 30px;
  border-style: none;
  background-image: url("../imagens-desktop/voltar2.svg");
  background-size: cover;
}

.capa-livro {
  width: 350px;
  height: 445px;
}

#subdetalhes-grande {
  display: block;
  /* border: 1px solid blue; */
}



/* Estilização Home */

/* -------------------------------------------- Área Bem-Vindo */
@media only screen and (max-width: 767px) {
  #bemvindo-caixa-imagem {
    padding: 0px !important;
  }
}

#bemvindo-imagem {
  width: 100%;
  max-width: 350px;
  height: auto;
  max-height: 400px;
}

.home-box {
  width: 100%;
  height: 1210px;
  background-color: white;
  box-shadow: 3px 20px 6px 0px whitesmoke;
}

.bem-vindo {
  margin-top: 73px;
  max-width: 100%;
  margin-left: 35px;
  margin-right: 35px;
}

.home-title {
  text-transform: uppercase;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: left;
  font-family: url('IBM Plex Sans, Bold');
  color: rgb(77, 77, 77);
  font-weight: bold;
  font-size: 22px;
}

.home-text {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 15px;
  font-family: url('IBM Plex Sans, Light');
  color: rgb(77, 77, 77);
}

.home-btn {
  margin-top: 40px;
  width: 101px;
  height: 26px;
  border-style: none;
  background-image: url("../imagens-desktop/sabermais1.svg");
  background-size: cover;
}

.home-btn:hover {
  background-image: url("../imagens-desktop/sabermais2.svg");
  background-size: cover;
}

/* ------------------------------- Área Últimos Livros */

/* Título e Texto */

.books-title {
  text-transform: uppercase;
  margin-top: 40px;
  font-family: url('IBM Plex Sans, Bold');
  color: rgb(77, 77, 77);
  font-size: 22px;
  margin-left: 35px;
  margin-right: 35px;
}

.books-text {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 13px;
  font-family: url('IBM Plex Sans, Light');
  text-align: left;
  color: rgb(77, 77, 77);
}

/* Destaques */

.caption {
  height: 530px;
  max-height: 100%;
  box-shadow: 3px 20px 6px 0px whitesmoke;
  width: 100%;
}

.thumbnail img {
  margin-top: 42px;
  width: 100%;
}

.caption h1 {
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
  font-family: url('IBM Plex Sans, Bold');
  color: rgb(77, 77, 77);
  font-size: 22px;
}

.category {
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: url('IBMPlexSans-Medium.eot');
  font-weight: bold;
  font-size: 15px;
  color: rgb(177, 126, 59);
}

.text-highlight {
  margin-top: 14px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 15px;
  font-family: url('IBM Plex Sans, Light');
  color: rgb(77, 77, 77);

}

.caption button {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  width: 101px;
  height: 26px;
  border-style: none;
  background-image: url("../imagens-desktop/sabermais1.svg");
  background-size: cover;
}

/* Estilização CRUD */

.imagem {
  border-bottom: solid 1px #efefef;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.blog-action a {
  font-size: 0.9rem;
  display: inline-block;
  padding: 0 5px;
  color: #000;
}

.new-blog a {
  margin-top: 15px;
  color: #ff5722;
  font-style: italic;
}

.form-field {
  margin-bottom: 5px;
}

.form-field label {
  display: block;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 5px;
}

.botao-crud {
  cursor: pointer;
  background-color: #e7e7e7;
  padding: 5px;
  border: solid 1px #ccc;
}