body {
  margin-left: 35px;
  margin-right: 35px;
}


/* Estilização do Cabeçalho */

.main-title{
  font-family: url('IBM Plex Sans, Bold');
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: rgb(77, 77, 77);
}

.headbtn{
  border-style: none;
  margin-top: 70px;
}

header h1{
  margin-top: 70px;
}

header ul{
  background-color: white;
  width: 100%;
}

ul li {
  font-size: 18px;
  text-transform: uppercase;
  color: #4D4D4D;
  padding: 22px;
}

ul a {
  text-decoration: none;
  color: #4D4D4D;
  font-family: url('Lato-Black.eot');
  font-weight: bold;
}

header {
  height: 780px;
}

.test {
  border: solid 1px red;
}

.header-btn {
  margin-top: 40px;
  width: 101px;
  height: 26px;
  border-style: none;
  background-image: url("../imagens-desktop/sabermais1.svg");
  background-size: cover;
}

.header-btn:hover {
  background-image: url("../imagens-desktop/sabermais2.svg");
  background-size: cover;
}

.carousel-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 600px;
  z-index: -1;
}

.carousel-inner {
  height: 760px;
}

.horizontal-line {
  margin-top: 15px;
  border-bottom: solid 1px #707070 ;
}

@media only screen and (max-width: 380px) {
  
  header {
    border-bottom: solid 1px red;
  }
  
  .header-menu {
    border: solid 1px red;
    width: 100%;
  }
}

@media only screen and (min-width: 450px) {
  .carousel-mobile {
    display: none;
  }
}



/* Estilização do Rodapé */

.footer-title {
  font-family: url('IBM Plex Sans, Bold');
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: rgb(77, 77, 77);
}

.footer-line {
  color: rgb(112, 112, 112);
  stroke: 1px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  size: 10px;
}

.field-title {
  margin-top: 20px;
  font-family: url('IBMPlexSans-Medium.eot');
  font-weight: bold;
  font-size: 15px;
  color: rgb(177, 126, 59);
  text-transform: uppercase;
}

.field-text {
  padding-top: 6px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  font-family: url('IBM Plex Sans, Light');
  color: rgb(77, 77, 77);
}

.social-title {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-family: url('IBM Plex Sans, Bold');
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: rgb(77, 77, 77);
}

.social-icons {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 100%;
}

.livro-reclamacoes,
.ralc {
  margin-top: 65px;
  padding-left: 44px;
  padding-right: 44px;
  max-width: 100%;
}

.cookies {
  margin-top: 43px;
  text-align: center;
  font-family: 'Lato';
}

.copyright {
  margin-bottom: 60px;
  text-align: center;
  font-family: 'Lato';
}

/* Estilização Home */

/* -------------------------------------------- Área Bem-Vindo */

.home-box {
  width: 100%;
  height: 1210px;
  background-color: white;
  box-shadow: 3px 20px 6px 0px whitesmoke;
}

.bem-vindo {
  margin-top: 73px;
  max-width: 100%;
  margin-left: 35px;
  margin-right: 35px;
}

.home-title {
  text-transform: uppercase;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: left;
  font-family: url('IBM Plex Sans, Bold');
  color: rgb(77, 77, 77);
  font-weight: bold;
  font-size: 22px;
}

.home-text {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 15px;
  font-family: 'IBM Plex Sans, Light';
  color: rgb(77, 77, 77);
}

.home-btn {
  margin-top: 40px;
  width: 101px;
  height: 26px;
  border-style: none;
  background-image: url("../imagens-desktop/sabermais1.svg");
  background-size: cover;
}

.home-btn:hover {
  background-image: url("../imagens-desktop/sabermais2.svg");
  background-size: cover;
}

/* ------------------------------- Área Últimos Livros */

/* Título e Texto */

.books-title {
  text-transform: uppercase;
  margin-top: 40px;
  font-family: url('IBM Plex Sans, Bold');
  color: rgb(77, 77, 77);
  font-size: 22px;
  margin-left: 35px;
  margin-right: 35px;
}

.books-text {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 13px;
  font-family: url('IBM Plex Sans, Light');
  text-align: left;
  color: rgb(77, 77, 77);
}

/* Destaques */

.caption{
  height: 530px;
  max-height: 100%;
  box-shadow: 3px 20px 6px 0px whitesmoke;
  width: 100%;
}

.thumbnail img{
  margin-top: 42px;
  width: 100%;
}

.caption h1{
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
  font-family: url('IBM Plex Sans, Bold');
  color: rgb(77, 77, 77);
  font-size: 22px;
}

.category {
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: url('IBMPlexSans-Medium.eot');
  font-weight: bold;
  font-size: 15px;
  color: rgb(177, 126, 59);
}

.text-highlight {
  margin-top: 14px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 15px;
  font-family: url('IBM Plex Sans, Light');
  color: rgb(77, 77, 77);

}

.caption button {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  width: 101px;
  height: 26px;
  border-style: none;
  background-image: url("../imagens-desktop/sabermais1.svg");
  background-size: cover;
}

